# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'macOS-10.13'

variables:
  scheme: 'OpenDrone'
  sdk: 'iphoneos'
  configuration: 'Release'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'
  
- script: |
    cd android
    chmod +x gradlew
    ./gradlew bundleRelease
  displayName: 'Build Android'

- task: Xcode@5
  inputs:
    actions: 'build'
    xcWorkspacePath: '**/*.xcodeproj/OpenDrone.xcworkspace'
    packageApp: false

- task: AndroidSigning@3
  inputs:
    apkFiles: '**/*.apk'
    apksignerKeystoreFile: 'OpenDrone_Keystore.jks'
    apksignerKeystorePassword: '$(keystore_password)'
    apksignerKeystoreAlias: '$(key_alias)'
    apksignerKeyPassword: '$(key_password)'
    zipalign: false

- task: GitHubRelease@1
  inputs:
    gitHubConnection: 'OpenDroneGithubConnection'
    repositoryName: 'OpenDroneAT/OpenDrone-Cross-Platform-App'
    action: 'create'
    target: '$(Build.SourceVersion)'
    tagSource: 'userSpecifiedTag'
    tag: '$(Build.BuildNumber)'
    title: 'Automatic Azure DevOps Release $(Build.BuildNumber)'
    releaseNotesSource: 'inline'
    releaseNotesInline: 'Automatic Azure DevOps Release'
    assets: |
         $(Build.ArtifactStagingDirectory)/*.apk
         $(Build.ArtifactStagingDirectory)/README.md
    isPreRelease: true
    addChangeLog: false
